@charset "UTF-8";
/* Reset
   ========================================================================== */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,500;0,700;1,500;1,700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-size: 1.6;
  font-family: var(--pretendard);
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

div {
  box-sizing: border-box;
}

p, div {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--black);
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button {
  border: none;
  background-color: transparent;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

:root {
  --pretendard: "Pretendard Variable", Pretendard, -apple-system, system-ui, Roboto, "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
  --montserrat: "Montserrat", sans-serif;
  --nunito: "Nunito Sans", sans-serif;
  --black: #111111;
  --white: #FFFFFF;
  --gray50: #FAFAFA;
  --gray100: #F5F5F5;
  --gray200: #EEEEEE;
  --gray300: #E0E0E0;
  --gray400: #BDBDBD;
  --gray500: #9E9E9E;
  --gray600: #757575;
  --gray700: #616161;
  --gray800: #424242;
  --gray900: #212121;
  --background-gray: #FBFBFB;
  --border-gray: #D9D9D9;
  --blue: #0018FD;
  --blue-middle: #4D7FFF;
  --blue-lighten: #C7D7FF;
  --violet: #7766e8;
  --violet-bg: #eff0f6;
  --blue-gradient: linear-gradient(290deg, var(--blue-lighten) 20.87%, var(--blue-middle) 57.44%, var(--blue) 98.02%);
  --heading-1: 2.25rem;
  --heading-2: 1.875rem;
  --heading-3: 1.75rem;
  --heading-4: 1.5rem;
  --title-1: 1.25rem;
  --title-2: 1.125rem;
  --body-1: 1rem;
  --body-2: 0.875rem;
  --body-3: 0.75rem;
  --body-4: 0.625rem;
}

header {
  width: 100%;
}
header > div {
  width: 100%;
  height: 4rem;
  padding: 0 3rem;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  font-weight: 700;
  border-bottom: 1px solid var(--black);
  background-color: var(--white);
}
.pc-menu ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.pc-menu ul li {
  color: var(--white);
}

.mobile-menu {
  display: none;
}

.header-menu {
  width: 1rem;
  height: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  display: none;
}
.header-menu span {
  width: 100%;
  border: 1px solid var(--white);
  border-radius: 1px;
}
.header-menu span:nth-child(3) {
  width: 80%;
}

@media (max-width: 960px) {
  .pc-menu {
    display: none;
  }
  .header-menu {
    display: block;
  }
}
footer {
  width: 100%;
}
footer > div {
  width: 100%;
  height: 6rem;
  padding: 0 3rem;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  color: var(--white);
}
footer > div > div:last-child {
  padding: 0.5rem 1rem;
  border-radius: 50%;
  border: 1px solid var(--white);
}
footer .sns {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}
footer .sns > div:first-child {
  padding: 0.5rem 1rem;
  border-radius: 50%;
  border: 1px solid var(--white);
  cursor: pointer;
}
footer .sns > div:first-child:hover + .link-more {
  display: flex;
  gap: 1rem;
  animation: display 2s ease-in-out;
}
footer .sns .link-more {
  display: none;
  position: absolute;
  right: -3rem;
}

/* Common Style 
=============================== */
.intro-main {
  width: 100%;
  height: 100%;
}

section.main__section {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.main__section.intro .big-circle, .main__section.intro .big-circle-clone {
  display: block;
  width: 60rem;
  height: 60rem;
  background: linear-gradient(43.5deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%, rgb(0, 212, 255) 100%);
  filter: blur(3rem);
  position: absolute;
  right: 0;
  top: -22rem;
}
.main__section.intro .big-circle {
  animation: rotate 11s infinite linear;
  border-radius: 52% 48% 70% 30%/49% 48% 52% 51%;
}
.main__section.intro .big-circle-clone {
  animation: rotate 13s infinite linear reverse;
  border-radius: 45% 55% 59% 41%/49% 61% 39% 51%;
}
.main__section.intro .small-circle {
  display: block;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background: linear-gradient(239deg, #E12BFF 15.91%, #3346FF 40.54%, #A59DFF 83.47%);
  filter: blur(10px);
  position: absolute;
  right: 10rem;
  top: 20rem;
  animation: verticalMove 5s infinite linear reverse;
}
.main__section.intro .bottom-circle {
  display: block;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background: linear-gradient(239deg, #E12BFF 15.91%, #3346FF 40.54%, #A59DFF 83.47%);
  filter: blur(10px);
  position: absolute;
  left: -6rem;
  bottom: -5rem;
  animation: verticalMove 5s infinite linear;
}
.main__section.intro .title-txt {
  width: 100%;
  height: auto;
  position: absolute;
  padding: 0 10%;
  top: 10%;
  z-index: 1;
  font-size: 5.5rem;
  font-family: var(--nunito);
  font-weight: 800;
}
.main__section.intro .title-txt svg {
  fill: var(--blue);
}
.main__section.intro .sub-txt {
  position: absolute;
  width: 50%;
  padding: 0 10% 0 1rem;
  left: 50%;
  top: 40%;
  word-break: keep-all;
  font-size: 1.25rem;
  line-height: 1.5;
  z-index: 1;
  animation: fadeIn 1s ease-in-out;
}
.main__section.intro .bg-txt {
  font-size: 10rem;
  position: absolute;
  bottom: 0;
  font-family: var(--nunito);
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 1px var(--gray300);
  text-transform: uppercase;
}
.main__section.intro .scroll-down {
  width: 8.125rem;
  height: 8.125rem;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}
.main__section.intro .scroll-down > div {
  width: 100%;
  height: 100%;
  position: relative;
}
.main__section.intro .scroll-down > div > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.main__section.intro .scroll-down > div > img:first-child {
  animation: rotate 4s infinite linear;
}

@keyframes rotate {
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(180deg);
  }
}
@keyframes verticalMove {
  0% {
    transform: translate3d(0, 0rem, 0);
  }
  50% {
    transform: translate3d(0, -1rem, 0);
  }
  100% {
    transform: translate3d(0, 0rem, 0);
  }
}
.main__section.about .introduce-txt {
  width: 100%;
  display: flex;
  padding: 0 20%;
  color: var(--white);
  gap: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.main__section.about .introduce-txt .introduce-tit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main__section.about .introduce-txt .introduce-tit > div {
  font-size: 4rem;
  font-weight: 700;
}
.main__section.about .introduce-txt .introduce-tit > a div {
  cursor: pointer;
  color: var(--white);
  transform: translate3d(0, 0, 0);
  transition: transform 0.5s ease;
}
.main__section.about .introduce-txt .introduce-tit > a div:hover {
  transform: translate3d(0.5rem, 0, 0);
}
.main__section.about .introduce-txt > div:last-child {
  max-width: 37.5rem;
  line-height: 1.6;
  font-size: 1.25rem;
  word-break: keep-all;
  font-weight: 200;
  animation: fadeIn 1s ease-in-out;
}
@media (max-width: 960px) {
  .main__section.about .introduce-txt {
    padding: 0 10%;
    flex-direction: column;
  }
  .main__section.about .introduce-txt .introduce-tit > div {
    font-size: 3rem;
  }
  .main__section.about .introduce-txt > div:last-child {
    font-size: 1rem;
  }
}

@keyframes fadeIn {
  from {
    transform: translate3d(0, 10%, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.main__section.works {
  width: 100%;
  height: 100vh;
  top: 0;
  margin-top: 10rem;
}
.main__section.works > div {
  display: flex;
  width: 100%;
  height: 100%;
}
.main__section.works .works-sticky {
  width: 50%;
  height: 100%;
  position: sticky;
  top: 0;
  left: 0;
}
.main__section.works .works-sticky > div {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate3d(0, -50%, 0);
}
.main__section.works .works-sticky > div > div:nth-child(1) {
  text-transform: uppercase;
  font-family: var(--nunito);
}
.main__section.works .works-sticky > div > div:nth-child(2) {
  margin-top: 1rem;
  font-size: 2rem;
  font-family: var(--nunito);
  font-weight: 900;
}
.main__section.works .works-sticky > div > div:nth-child(3) {
  margin-top: 4rem;
}
.main__section.works .works__wrap {
  width: 50%;
  overflow-y: auto;
}

.works-list__wrap {
  gap: 2rem;
  transform: translate3d(0vw, 0, 0);
}

.works-list-thumb {
  width: 100%;
  height: 30rem;
  overflow: hidden;
}
.works-list-thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.works-list .work-name {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1.25rem 0 5rem;
  display: flex;
}
.works-list .work-tool {
  line-height: 1.5;
  font-weight: 200;
  color: var(--white);
}

.main__section.career {
  width: 100vw;
  height: 100vh;
  top: 0;
  overflow: hidden;
  margin-top: 20rem;
}
.main__section.career .career-tit {
  text-align: center;
}
.main__section.career .career-tit div {
  font-size: 2rem;
  font-family: var(--nunito);
  font-weight: 800;
}
.main__section.career .career-tit p {
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.8;
}
.main__section.career .career__wrap {
  width: 100%;
  height: auto;
  margin-top: 5rem;
}
.main__section.career .btn__wrap {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}
.main__section.career ul {
  padding: 0 10%;
}
.main__section.career ul li {
  padding: 1.25rem 2rem;
  border-top: 1px solid var(--border-gray);
}
.main__section.career ul li:last-child {
  border-bottom: 1px solid var(--border-gray);
}
.main__section.career ul li > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main__section.career ul li .career-info {
  flex: 9;
  display: flex;
  align-items: center;
  font-family: var(--nunito);
}
.main__section.career ul li .career-info > div:first-child {
  flex: 3;
  font-weight: 700;
  color: var(--gray500);
}
.main__section.career ul li .career-info > div:last-child {
  flex: 7;
  font-size: 2.5rem;
  font-weight: 900;
}
@media (max-width: 960px) {
  .main__section.career ul li .career-info {
    flex-direction: column;
    align-items: start;
  }
}
.main__section.career ul li .more-btn {
  width: 5rem;
  height: 5rem;
  flex: 1;
  border-radius: 50%;
  border: 1px solid var(--border-gray);
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__section.career ul li .more-btn img {
  width: 50%;
  height: 50%;
}
.main__section.career ul li .more-btn:hover {
  border: 1px solid var(--gray500);
  transition: all 0.5s ease-out;
}
.main__section.career ul li .more-btn:hover img {
  animation: arrowRotate 0.7s infinite linear;
}
.main__section.career ul .career-exp {
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height 0.7s ease-out;
}
.main__section.career ul .career-exp p {
  line-height: 1.8;
  width: 100%;
  border-top: 1px solid var(--gray300);
  padding-top: 1.25rem;
  margin-top: 1.25rem;
}
.main__section.career ul .career-exp.active {
  height: auto;
  transition: height 0.7s ease-out;
}

@keyframes arrowRotate {
  to {
    transform: translate3d(0, 0.125rem, 0);
  }
}
.all-btn {
  display: block;
  padding: 1rem 1.5rem 0.75rem;
  width: 4rem;
  height: auto;
  border-radius: 2.5rem;
  border: 1px solid var(--black);
  text-align: center;
}

.main__section.link {
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  height: calc(100vh - 4rem);
  font-family: var(--nunito);
  font-weight: 700;
  font-size: 3rem;
}
.main__section.link .link__wrap {
  display: flex;
  flex-direction: column;
}
.main__section.link .link__wrap > div:first-child {
  border-bottom: 1px solid var(--black);
  height: 70vh;
  padding: 10%;
}
@media (max-width: 960px) {
  .main__section.link .link__wrap > div:first-child {
    height: 30%;
  }
}
.main__section.link .link__wrap > div:last-child {
  height: 30vh;
}
.main__section.link .link-flex {
  display: flex;
  width: 100%;
}
.main__section.link .link-flex > div {
  width: 30%;
}
.main__section.link .link-flex > div:not(:last-child) {
  border-right: 1px solid var(--black);
}
.main__section.link .link-flex > div a {
  display: block;
  width: 100%;
  height: 100%;
}
.main__section.link .link-flex > div a div {
  padding: 5% 10%;
}
@media (max-width: 960px) {
  .main__section.link .link-flex {
    flex-direction: column;
    height: auto;
  }
  .main__section.link .link-flex > div {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid var(--black);
  }
}

main {
  width: 100%;
  height: 100%;
  background-color: var(--violet-bg);
  transition: background-color 0.7s ease-out;
}

.intro-section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.intro-section__wrap {
  width: 100%;
  padding: 10%;
}
.intro-section .intro-txt {
  font-family: var(--nunito);
  font-size: 4.5rem;
  font-weight: 900;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 5rem;
}
.intro-section .intro-txt .left-in {
  transform: translate3d(0, 0, 0);
  animation: leftIn 0.7s ease-out;
}
.intro-section .intro-txt .right-in {
  transform: translate3d(0, 0, 0);
  animation: rightIn 0.7s ease-out;
}
.intro-section .intro-txt .txt-obj {
  font-size: 1.25rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
  vertical-align: middle;
}
.intro-section .intro-txt .obj1 {
  color: var(--white);
  background-color: var(--violet);
  animation: fullWidth 0.5s ease-out;
}
.intro-section .intro-txt .obj2 {
  border: 1px solid var(--violet);
  color: var(--violet);
}
.intro-section .intro-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.intro-section .intro-bottom p {
  font-size: 1.25rem;
  font-weight: 200;
  line-height: 1.6;
  animation: fadeIn 1s ease-in-out;
}
.intro-section .intro-bottom .scroll-down {
  width: 8.125rem;
  height: 8.125rem;
}
.intro-section .intro-bottom .scroll-down > div {
  width: 100%;
  height: 100%;
  position: relative;
}
.intro-section .intro-bottom .scroll-down > div > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.intro-section .intro-bottom .scroll-down > div > img:first-child {
  animation: rotate 4s infinite linear;
}

@keyframes leftIn {
  from {
    opacity: 0;
    transform: translate3d(-100vw, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes rightIn {
  from {
    opacity: 0;
    transform: translate3d(100vw, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fullWidth {
  from {
    padding: 0.75rem 0;
  }
  to {
    padding: 0.75rem 1rem;
  }
}
.about-section {
  width: 100%;
  height: auto;
  top: 0;
}
.about-section__wrap {
  width: 100%;
  height: 100%;
  padding: 10%;
}
.about-section .about-profile {
  width: 100%;
  display: flex;
  color: var(--white);
}
.about-section .about-profile > div {
  width: 50%;
}
.about-section .about-profile .profile-item {
  display: flex;
  font-size: 1.25rem;
  line-height: 1.6;
}
.about-section .about-profile .profile-item > div:first-child {
  width: 30%;
  font-family: var(--nunito);
  font-weight: 200;
}
.about-section .about-profile .profile-item > div:last-child {
  width: 70%;
}
.about-section .about-profile .profile-item:first-of-type {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}
.about-section .about-profile .profile-link {
  margin-top: 4rem;
  display: flex;
  gap: 1rem;
}
.about-section .about-profile .profile-link > div {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  border: 1px solid var(--white);
}
.about-section .about-profile .profile-link > div a {
  color: var(--white);
}
.about-section .about-profile .profile-right {
  font-weight: 200;
  font-size: 1.25rem;
  line-height: 1.6;
  word-break: keep-all;
}
.about-section .about-profile .profile-img {
  width: 20rem;
  height: 20rem;
  border-radius: 1rem;
  margin-bottom: 4rem;
}
.about-section .about-profile .profile-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-section .about-profile .about-txt div {
  margin-bottom: 1rem;
}

.section-tit {
  font-family: var(--nunito);
  font-size: 3rem;
  font-weight: 900;
}

.skill-section {
  width: 100%;
  height: auto;
  color: white;
}
.skill-section__wrap {
  padding: 10%;
}
.skill-section__wrap > div {
  width: 100%;
  display: flex;
}
.skill-section .skill-left {
  width: 50%;
}
.skill-section .skill-right {
  width: 50%;
}
.skill-section .skill-right > div {
  display: flex;
  gap: 1rem;
}
.skill-section .skill-item {
  width: 50%;
  margin-bottom: 1rem;
  padding: 1.5rem;
  background-color: #6553da;
  border-radius: 1.25rem;
}
.skill-section .skill-name {
  font-family: var(--nunito);
  font-weight: 800;
  font-size: 1.25rem;
}
.skill-section .skill-grade {
  font-size: 0.825rem;
  font-weight: 200;
  margin: 1rem auto 0.75rem;
  letter-spacing: 1.5px;
  color: var(--violet-bg);
}
.skill-section .skill-grade span {
  font-weight: 500;
  font-size: 1rem;
}
.skill-section .skill-exp {
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.6;
}
.skill-section .skill-exp li {
  position: relative;
  margin-left: 0.75rem;
}
.skill-section .skill-exp li::before {
  content: "·";
  position: absolute;
  left: -0.75rem;
  font-weight: 900;
}

.works-section {
  width: 100%;
  height: 100vh;
}
.works-section__wrap {
  width: 100%;
  padding: 10%;
}
.works-section .works-tit {
  text-align: center;
}
.works-section .works-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  margin-top: 5rem;
}
.works-section .works-grid > a {
  background-color: var(--white);
  transition: opacity 0.7s ease-out;
  border-radius: 1rem;
}
.works-section .works-grid > a:nth-child(1) {
  grid-row-end: span 2;
  height: 12rem;
}
.works-section .works-grid > a:nth-child(3) {
  grid-row-end: span 2;
  height: 12rem;
}
.works-section .works-grid > a:nth-child(6) {
  grid-row-end: span 2;
  height: 12rem;
}
.works-section .works-grid > a:nth-child(7) {
  grid-row-end: span 2;
  height: 12rem;
}

@keyframes scaleIn {
  from {
    transform: scale(50%);
    opacity: 0;
  }
  to {
    transform: scale(100%);
    opacity: 1;
  }
}
.career-section {
  width: 100%;
  height: 100vh;
}
.career-section__wrap {
  width: 100%;
  height: 100%;
  padding: 10% 0 10% 10%;
}
.career-section .career-list {
  display: flex;
  gap: 2rem;
  width: auto;
  overflow-x: scroll;
  padding: 2rem 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.career-section .career-list::-webkit-scrollbar {
  display: none;
}
.career-section .career-list-item {
  width: 25%;
  flex-shrink: 0;
}
.career-section .career-info > div:last-child {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0.5rem 0 1rem;
}
.career-section .career-exp {
  word-break: keep-all;
  line-height: 1.6;
}

.badge {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
}

.period-badge {
  background-color: #6553da;
}

.work-badge {
  border: 1px solid #6553da;
}

.education {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.education > div:first-child {
  font-family: var(--nunito);
  font-weight: 900;
  font-size: 1.25rem;
}
.education span {
  color: var(--gray500);
  font-weight: 700;
  margin-right: 0.5rem;
}

.project__section.list {
  width: 100%;
}
.project__section.list > div {
  width: 100%;
  padding: 0 20%;
}
.project__section.list .tab {
  display: flex;
  gap: 1rem;
  margin-top: 5rem;
}
.project__section.list .tab li {
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  border: 1px solid var(--black);
}

.project-li__wrap {
  width: 100%;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
.project-li__wrap li {
  width: 100%;
  height: auto;
}
.project-li__wrap li .project-thumb {
  width: 100%;
  height: 10rem;
  background-color: aquamarine;
  border-radius: 1rem;
}

/* Project detail
================================================= */
.detail__section {
  width: 100%;
}

.detail__section.exp {
  width: 100%;
}
.detail__section.exp > div:first-child {
  width: 100%;
  height: 20rem;
  background: var(--blue-gradient);
}

.project-info {
  width: 100%;
  padding: 5rem 10%;
  border-bottom: 1px solid var(--border-gray);
}
.project-info h2 {
  font-size: var(--heading-1);
  font-weight: 800;
}
.project-info > div:nth-child(2) {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-top: 2.5rem;
}
.project-info .info-detail {
  width: 40%;
}
.project-info .info-txt {
  width: 60%;
  line-height: 1.75;
}
@media (max-width: 960px) {
  .project-info > div:nth-child(2) {
    flex-direction: column;
  }
  .project-info .info-detail, .project-info .info-txt {
    width: 100%;
  }
}
.project-info .info-date,
.project-info .info-skill,
.project-info .info-role {
  display: flex;
  font-size: var(--title-1);
  font-weight: 200;
  margin-bottom: 0.75rem;
}
.project-info .info-date > div:first-child,
.project-info .info-skill > div:first-child,
.project-info .info-role > div:first-child {
  width: 3.5rem;
  color: var(--gray400);
}
.project-info .info-txt {
  font-size: var(--title-1);
  font-weight: 200;
  word-break: keep-all;
}
.project-info .link-btn {
  margin-top: 2.5rem;
}
.project-info .link-btn button {
  padding: 0.875rem 2rem 0.75rem;
  border-radius: 2rem;
  font-size: var(--title-1);
}
.project-info .link-btn > a:first-child button {
  background-color: var(--blue);
  color: var(--white);
}
.project-info .link-btn > a:last-child button {
  border: 1px solid var(--black);
}

.detail__section.con {
  width: 100%;
}
.detail__section.con > div {
  width: 100%;
  padding: 5rem 10%;
}
.detail__section.con h3 {
  font-size: var(--heading-2);
  font-weight: 700;
  margin-bottom: 2rem;
}
.detail__section.con .dev-part {
  font-size: var(--title-1);
  font-weight: 700;
  color: var(--blue);
  margin-bottom: 1.5rem;
}
.detail__section.con .dev-item > div {
  font-size: var(--title-2);
  font-weight: 700;
  position: relative;
  padding-left: 0.75rem;
  margin-bottom: 0.5rem;
}
.detail__section.con .dev-item > div::before {
  content: "";
  display: block;
  position: absolute;
  width: 0.3125rem;
  height: 0.3125rem;
  border-radius: 50%;
  background-color: var(--black);
  margin-left: -0.75rem;
  top: 0.5rem;
}
.detail__section.con .dev-item li {
  line-height: 1.5;
  padding-left: 1.5rem;
  margin-top: 1rem;
  position: relative;
}
.detail__section.con .dev-item li::before {
  content: "";
  display: block;
  position: absolute;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 50%;
  border: 1px solid var(--black);
  margin-left: -0.75rem;
  top: 0.5rem;
}/*# sourceMappingURL=style.css.map */