@charset "UTF-8";
/* Reset
   ========================================================================== */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,500;0,700;1,500;1,700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-size: 1.6;
  font-family: var(--pretendard);
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

div {
  box-sizing: border-box;
}

p, div {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  outline: none;
  color: var(--black);
}

a:hover,
a:active {
  text-decoration: none;
  background-color: transparent;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button {
  border: none;
  background-color: transparent;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

:root {
  --pretendard: "Pretendard Variable", Pretendard, -apple-system, system-ui, Roboto, "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
  --montserrat: "Montserrat", sans-serif;
  --nunito: "Nunito Sans", sans-serif;
  --black: #111111;
  --white: #FFFFFF;
  --gray50: #FAFAFA;
  --gray100: #F5F5F5;
  --gray200: #EEEEEE;
  --gray300: #E0E0E0;
  --gray400: #BDBDBD;
  --gray500: #9E9E9E;
  --gray600: #757575;
  --gray700: #616161;
  --gray800: #424242;
  --gray900: #212121;
  --background-gray: #FBFBFB;
  --border-gray: #D9D9D9;
  --blue: #0018FD;
  --blue-middle: #4D7FFF;
  --blue-lighten: #C7D7FF;
  --violet: #7766e8;
  --violet-bg: #eff0f6;
  --violet-darken: #5a47d7;
  --bg: #F3F1FF;
  --primary-purple: #856AFF;
  --secondary-pink: #FFBFDD;
  --secondary-lime: #A3FF46;
  --font-heading: 5rem;
  --font-title: 2rem;
  --font-title2: 1.5rem;
  --font-body1: 1.25rem;
  --font-body2: 1rem;
  --font-m-heading: 3rem;
  --font-m-title: 1.5rem;
  --font-m-body1: 1rem;
  --font-m-body2: 0.825rem;
  --font-thin: 200;
  --font-regular: 400;
  --font-bold: 700;
  --gap: 1rem;
  --box-radius: 2rem;
}

@keyframes rotate {
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(180deg);
  }
}
@keyframes verticalMove {
  0% {
    transform: translate3d(0, 0rem, 0);
  }
  50% {
    transform: translate3d(0, -1rem, 0);
  }
  100% {
    transform: translate3d(0, 0rem, 0);
  }
}
@keyframes fadeIn {
  from {
    transform: translate3d(0, 10%, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes arrowRotate {
  to {
    transform: translate3d(0, 0.125rem, 0);
  }
}
@keyframes leftIn {
  from {
    opacity: 0;
    transform: translate3d(-100vw, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes rightIn {
  from {
    opacity: 0;
    transform: translate3d(100vw, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes topIn {
  from {
    opacity: 0;
    transform: translate3d(0, 5rem, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fullWidth {
  from {
    padding: 0.75rem 0;
  }
  to {
    padding: 0.75rem 1rem;
  }
}
@keyframes scaleIn {
  from {
    transform: scale(50%);
    opacity: 0;
  }
  to {
    transform: scale(100%);
    opacity: 1;
  }
}
@keyframes rollOrigin {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes rollClone {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes bgTransition {
  0% {
    border-radius: 50rem 50rem 0 0;
  }
  100% {
    border-radius: 0;
  }
}
header {
  width: 4rem;
  height: 4rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: var(--white);
  border-radius: 50%;
  z-index: 200;
  cursor: pointer;
}
header > div {
  width: 100%;
  height: 100%;
  position: relative;
}
header > div > div {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
header > div span {
  width: 100%;
  height: 2px;
  display: block;
  background-color: var(--black);
  position: absolute;
  transition: transform 0.5s ease-in-out;
}
header > div span:nth-child(1) {
  top: 25%;
  will-change: transform;
}
header > div span:nth-child(2) {
  top: 50%;
  transition: opacity 0.5s ease-out;
}
header > div span:nth-child(3) {
  top: 75%;
  will-change: transform;
}

@keyframes menu {}
#nav {
  width: 0;
  min-width: 0;
  height: 100vh;
  background-color: var(--white);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  overflow: hidden;
  transition: width 0.5s ease-out;
}
#nav.show {
  width: 60vw;
  min-width: 20rem;
  animation: navShow 0.5s ease-out;
}
#nav > div {
  width: 100%;
  height: 100%;
}
#nav > div nav {
  width: 100%;
  height: 100%;
}
#nav > div .nav-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
#nav > div .nav-list a {
  font-family: var(--nunito);
  font-size: 4rem;
  font-weight: var(--font-bold);
  margin-bottom: 1rem;
  cursor: pointer;
  position: relative;
}
#nav > div .nav-list a > div > div {
  transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#nav > div .nav-list a::after {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  content: attr(data-hover);
  color: var(--black);
  display: inline;
  text-align: center;
  transition: top 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#nav > div .nav-list a:hover > div > div {
  transform: translateX(10%);
  color: var(--black);
}
#nav > div .nav-list a:hover::after {
  top: 0;
}

@keyframes navShow {
  from {
    width: 0;
    min-width: 0;
  }
  to {
    width: 60vw;
    min-width: 20rem;
  }
}
footer {
  width: 100%;
}
footer > div {
  width: 100%;
  height: 6rem;
  padding: 0 3rem;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  color: var(--white);
}
footer > div > div:last-child {
  padding: 0.5rem 1rem;
  border-radius: 50%;
  border: 1px solid var(--white);
}
footer .sns {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}
footer .sns > div:first-child {
  padding: 0.5rem 1rem;
  border-radius: 50%;
  border: 1px solid var(--white);
  cursor: pointer;
}
footer .sns > div:first-child:hover + .link-more {
  display: flex;
  gap: 1rem;
  animation: display 2s ease-in-out;
}
footer .sns .link-more {
  display: none;
  position: absolute;
  right: -3rem;
}

/* Index Style 
=============================== */
main {
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  transition: background-color 0.7s ease-out;
  animation: bgTransition 0.7s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-wrap {
  width: 100%;
  max-width: 1200px;
  margin: 4rem 0;
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
@media (max-width: 768px) {
  .main-wrap {
    padding: 0 1.25rem;
  }
}

.intro-section {
  width: 100%;
  height: auto;
  background-color: var(--white);
  border-radius: var(--box-radius);
}
.intro-section__wrap {
  width: 100%;
  min-height: 100%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.intro-section .intro-txt {
  font-family: var(--nunito);
  font-size: var(--font-heading);
  font-weight: var(--font-bold);
  line-height: 1.2;
}
.intro-section .intro-txt .left-in {
  transform: translate3d(0, 0, 0);
  animation: leftIn 0.7s ease-out;
}
.intro-section .intro-txt .right-in {
  transform: translate3d(0, 0, 0);
  animation: rightIn 0.7s ease-out;
}
.intro-section .intro-txt .txt-obj {
  font-size: var(--font-body2);
  padding: 0.75rem 1rem;
  border-radius: var(--box-radius);
  vertical-align: middle;
}
.intro-section .intro-txt .obj1 {
  color: var(--white);
  background-color: var(--primary-purple);
  animation: fullWidth 0.5s ease-out;
}
.intro-section .intro-txt .obj2 {
  border: 1px solid var(--primary-purple);
  color: var(--primary-purple);
}
.intro-section .intro-bottom {
  width: 100%;
  margin-top: 5rem;
}
.intro-section .intro-bottom p {
  font-size: var(--font-body1);
  font-weight: 200;
  line-height: 1.6;
  animation: topIn 1s ease-in-out;
}
.intro-section .intro-bottom .scroll-down {
  width: 8.125rem;
  height: 8.125rem;
}
.intro-section .intro-bottom .scroll-down > div {
  width: 100%;
  height: 100%;
  position: relative;
}
.intro-section .intro-bottom .scroll-down > div > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.intro-section .intro-bottom .scroll-down > div > img:first-child {
  width: 100%;
  height: 100%;
  animation: rotate 4s infinite linear;
}
.intro-section .intro-bottom .scroll-down > div > img:last-child {
  width: 50%;
  height: 50%;
}
@media (max-width: 768px) {
  .intro-section .intro-txt {
    font-size: var(--font-m-heading);
  }
}

.about-section {
  width: 100%;
}
.about-section__wrap {
  width: 100%;
  height: 100%;
  padding: 0 var(--gap);
}
.about-section .about-profile {
  width: 100%;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(2, 1fr);
}
.about-section .about-profile .profile-link {
  margin-top: 4rem;
  display: flex;
  gap: 1rem;
}
.about-section .about-profile .profile-link > a {
  padding: 0.5rem 1rem;
  border-radius: var(--box-radius);
  border: 1px solid var(--white);
  color: var(--white);
}
.about-section .about-profile .profile-left {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: var(--box-radius);
  overflow: hidden;
}
.about-section .about-profile .profile-right {
  width: 100%;
  height: 100%;
  padding: 4rem;
  font-weight: 200;
  font-size: var(--font-body1);
  line-height: 1.6;
  word-break: keep-all;
  border-radius: var(--box-radius);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-section .about-profile .profile-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.about-section .about-profile .profile-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  filter: grayscale(1);
  transition: filter 0.5s ease-out;
}
.about-section .about-profile .profile-img:hover img {
  filter: none;
}
.about-section .about-profile .about-txt div {
  margin-bottom: 1rem;
}
.about-section .about-contact {
  width: 100%;
  display: flex;
  gap: var(--gap);
  margin-top: var(--gap);
}
.about-section .about-contact > div {
  width: 100%;
  background-color: var(--white);
  border-radius: var(--box-radius);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-section .about-contact > div:first-child .contact-con {
  word-break: break-all;
}
.about-section .about-contact .contact-tit {
  font-size: var(--font-body2);
  color: var(--gray500);
  margin-bottom: 0.825rem;
}
.about-section .about-contact .contact-con {
  font-size: var(--font-title2);
  font-weight: var(--font-bold);
}
.about-section .about-contact:nth-child(3) .contact-con {
  display: flex;
  gap: 2rem;
}
.about-section .about-contact .reverse-txt {
  position: relative;
  overflow: hidden;
}
.about-section .about-contact .reverse-txt > div {
  transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.about-section .about-contact .reverse-txt::after {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  content: attr(data-hover);
  color: var(--black);
  display: inline;
  text-align: center;
  transition: top 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.about-section .about-contact .reverse-txt:hover > div {
  transform: translateY(-100%);
  color: var(--black);
}
.about-section .about-contact .reverse-txt:hover::after {
  top: 0;
}
@media (max-width: 768px) {
  .about-section .about-profile {
    grid-template-columns: 1fr;
  }
  .about-section .about-profile > div {
    width: 100%;
  }
  .about-section .about-profile .profile-img {
    width: 100%;
    height: 20rem;
    border-radius: var(--box-radius);
  }
  .about-section .about-contact {
    flex-direction: column;
  }
}

.section-tit {
  width: 100%;
  text-align: center;
  margin: 4rem auto;
}
.section-tit div {
  font-family: var(--nunito);
  font-size: var(--font-heading);
  font-weight: var(--font-bold);
}
.section-tit p {
  margin-top: 0.5rem;
  font-size: var(--font-body1);
  font-weight: var(--font-thin);
}
@media (max-width: 768px) {
  .section-tit div {
    font-size: var(--font-m-heading);
  }
}

.skill-section {
  width: 100%;
  color: var(--black);
}
.skill-section__wrap {
  width: 100%;
  height: 100%;
}
.skill-section__wrap .skill-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
.skill-section__wrap .skill-list .skill-item {
  width: 100%;
  border-radius: var(--box-radius);
  background-color: var(--white);
  padding: 2rem;
  display: flex;
}
.skill-section__wrap .skill-list .skill-item > div {
  width: 50%;
}
.skill-section .skill-left {
  width: 100%;
  height: calc(100vh - var(--gap) * 2);
  padding: 4rem;
  background-color: var(--bg);
  position: sticky;
  top: 2px;
  border-radius: var(--box-radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.skill-section .skill-left .skill-cate {
  margin-top: 2rem;
  font-size: var(--font-body1);
  font-family: var(--nunito);
  line-height: 1.6;
}
.skill-section .skill-left .skill-cate > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  word-break: keep-all;
  font-weight: 300;
}
.skill-section .skill-left .skill-cate span {
  display: block;
  width: 1rem;
  height: 1rem;
  background: url("/assets/svgs/diagonal_arrow.svg") no-repeat;
  background-position: center;
  background-size: contain;
}
.skill-section .skill-right {
  width: 100%;
  height: auto;
}
.skill-section .skill-right > div {
  padding: 4rem;
  background-color: var(--white);
  border-radius: var(--box-radius);
}
.skill-section .skill-name {
  font-family: var(--nunito);
  font-weight: var(--font-bold);
  font-size: 2rem;
}
.skill-section .skill-degree {
  width: auto;
  font-size: 1rem;
  font-weight: var(--font-bold);
  margin: 1.5rem auto;
  color: var(--primary-purple);
}
.skill-section .skill-degree span {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--primary-purple);
  color: white;
}
.skill-section .skill-exp {
  font-size: var(--font-body1);
  font-weight: 200;
  line-height: 1.6;
}
.skill-section .skill-exp li {
  position: relative;
  margin-left: 0.75rem;
}
.skill-section .skill-exp li::before {
  content: "·";
  position: absolute;
  left: -0.75rem;
  font-weight: var(--font-bold);
}
@media (max-width: 768px) {
  .skill-section__wrap .skill-list .skill-item {
    flex-direction: column;
  }
  .skill-section__wrap .skill-list .skill-item > div {
    width: 100%;
  }
  .skill-section .skill-left {
    position: static;
  }
  .skill-section .skill-left,
  .skill-section .skill-right {
    width: 100%;
  }
  .skill-section .skill-right > div {
    grid-template-columns: 1fr;
  }
  .skill-section .skill-right > div > div {
    width: 100%;
  }
}
.skill-section .rolling {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  font-size: 5rem;
  font-family: var(--nunito);
  font-weight: var(--font-bold);
  color: transparent;
  -webkit-text-stroke: 1px var(--white);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--white);
}
.skill-section .rolling > div:first-child {
  animation: rollOrigin 5s linear infinite;
}
.skill-section .rolling > div:last-child {
  animation: rollClone 5s linear infinite;
}

.works-section {
  width: 100%;
}
.works-section__wrap {
  width: 100%;
  height: 100%;
}
.works-section .works-txt {
  text-align: center;
  transition: opacity 0.7s ease-out;
  font-family: var(--nunito);
  font-size: var(--font-heading);
  font-weight: var(--font-bold);
  margin-top: 4rem;
}
.works-section .works-cate {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap);
  margin-top: var(--gap);
}
.works-section .works-cate > div {
  width: 100%;
  height: auto;
  padding: 1rem;
  background-color: var(--white);
  border-radius: var(--box-radius);
  font-family: var(--nunito);
  text-align: center;
  font-weight: var(--font-bold);
  cursor: pointer;
}
.works-section .works-cate > div:hover {
  box-shadow: 0px 3px 15px -12px;
  transition: box-shadow 0.3s ease-out;
}
.works-section .works-grid {
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  display: flex;
  gap: var(--gap);
}
.works-section .works-grid .works-left {
  width: 100%;
  height: calc(100vh - var(--gap) * 2);
  position: sticky;
  top: 1rem;
}
.works-section .works-grid .works-img {
  width: 100%;
  height: 300px;
  border-radius: var(--box-radius);
  background-color: var(--white);
  overflow: hidden;
}
.works-section .works-grid .works-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-out;
}
.works-section .works-grid .works-right {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
.works-section .works-grid .works-right .works-img {
  display: none;
}
.works-section .works-grid .works-right > a {
  background-color: var(--white);
  transition: opacity 0.7s ease-out;
  border-radius: var(--box-radius);
}
.works-section .works-grid .works-right > a .works-info {
  width: 100%;
  padding: 1.5rem;
}
.works-section .works-grid .works-right > a .works-info-date {
  font-family: var(--nunito);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.works-section .works-grid .works-right > a .works-info-name {
  font-weight: var(--font-bold);
  margin: 0.75rem 0;
  font-size: var(--font-title);
}
.works-section .works-grid .works-right > a .works-info-exp {
  font-size: var(--font-body2);
  line-height: 1.6;
  word-break: keep-all;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0.8;
}
.works-section .works-grid .works-right > a .works-info-skill {
  margin-top: 1rem;
  display: flex;
  gap: var(--gap);
  color: var(--gray400);
  font-family: var(--nunito);
  font-size: 12px;
}
.works-section .works-grid .works-right > a .works-info:hover {
  box-shadow: 0px 3px 15px -12px;
  border-radius: var(--box-radius);
  transition: box-shadow 0.3s ease-out;
}
@media (max-width: 768px) {
  .works-section .works-grid {
    flex-direction: column;
  }
  .works-section .works-grid .works-left {
    position: static;
    height: auto;
  }
  .works-section .works-grid .works-left .works-img {
    display: none;
  }
  .works-section .works-grid .works-right .works-img {
    display: block;
  }
}

.career-section {
  width: 100%;
  height: auto;
  padding-bottom: 5rem;
}
.career-section__wrap {
  width: 100%;
  height: 100%;
  padding: 0 var(--gap);
}
.career-section .career-container {
  width: 100%;
  height: auto;
  top: 0;
}
.career-section .horizontal {
  height: 100%;
  will-change: transform;
}
.career-section .career-list {
  display: flex;
  gap: var(--gap);
  width: auto;
  border-radius: var(--box-radius);
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.career-section .career-list-item {
  scroll-snap-align: start;
  height: auto;
  width: 20rem;
  margin: 0 auto;
  flex-shrink: 0;
  padding: 3rem;
  border-radius: var(--box-radius);
  background-color: var(--white);
}
.career-section .career-list::-webkit-scrollbar {
  display: none;
}
.career-section .career-info {
  font-family: var(--nunito);
}
.career-section .career-info > div:first-child {
  font-size: 1.25rem;
  display: flex;
  gap: 0.25rem;
}
.career-section .career-info > div:last-child {
  font-size: var(--font-title);
  font-weight: var(--font-bold);
  margin: 1rem 0 2.5rem;
}
.career-section .career-exp {
  word-break: keep-all;
  font-size: var(--font-body1);
  font-weight: 200;
  line-height: 1.6;
}
.career-section .badge {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
}
.career-section .period-badge {
  background-color: var(--primary-purple);
  color: var(--white);
}
.career-section .work-badge {
  border: 1px solid var(--primary-purple);
  color: var(--primary-purple);
}
.career-section .older-txt {
  display: flex;
}
.career-section .education {
  background-color: var(--gray50);
}

.contact-section {
  width: 100%;
  height: 100vh;
}
.contact-section__wrap {
  width: 100%;
  height: 100%;
  padding: var(--gap);
}
.contact-section__wrap > div {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap);
}
.contact-section .contact-left {
  width: 100%;
  height: 100%;
  background-color: var(--primary-purple);
  border-radius: var(--box-radius);
  padding: 3rem;
}
.contact-section .contact-left > div {
  font-family: var(--nunito);
  font-size: var(--font-heading);
  font-weight: var(--font-bold);
}
.contact-section .contact-right {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
.contact-section .contact-right > div {
  width: 100%;
  height: 100%;
  padding: 3rem;
  background-color: var(--white);
  border-radius: var(--box-radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--nunito);
}
.contact-section .contact-right > div:nth-child(3) .contact-con {
  display: flex;
  gap: 2rem;
}
.contact-section .copyright {
  width: 100%;
  font-weight: 200;
  font-size: var(--body-2);
  color: var(--gray500);
  flex: 1;
  padding: 1rem var(--gap);
  background-color: var(--black);
  text-align: center;
}
@media (max-width: 768px) {
  .contact-section__wrap > div {
    grid-template-columns: 1fr;
  }
}

.more-cursor {
  width: 5rem;
  height: 5rem;
  display: none;
  border-radius: 50%;
  background-color: var(--primary-purple);
  color: var(--white);
  position: fixed;
}
.more-cursor div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--nunito);
}

.roll-txt {
  width: 100%;
  height: 10rem;
  overflow: hidden;
  color: var(--white);
  font-size: 5rem;
  font-family: var(--nunito);
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.roll-txt i:first-of-type {
  color: var(--primary-purple);
}
.roll-txt i:last-of-type {
  color: var(--secondary-pink);
}

.roll-origin {
  animation: rollOrigin 10s linear infinite;
}

.roll-clone {
  animation: rollClone 10s linear infinite;
}

.project-main {
  width: 100%;
  height: 100%;
}

.project-wrap {
  width: 100%;
  height: 100%;
}

.project-img {
  width: 100%;
  height: 20rem;
  border-radius: var(--box-radius);
  background-color: var(--white);
  overflow: hidden;
}
.project-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.project-con {
  display: flex;
  padding: var(--gap) 0;
  gap: var(--gap);
}

.project-left {
  width: 40%;
  height: calc(100vh - var(--gap) * 2);
  top: var(--gap);
  position: sticky;
}

.project-right {
  width: 60%;
  height: 100%;
}
.project-right > div {
  width: 100%;
  height: 100%;
}

.project-detail {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.project-date {
  width: 100%;
  background-color: var(--white);
  border-radius: var(--box-radius);
  padding: 1rem;
  font-size: var(--font-body1);
  display: flex;
  gap: var(--gap);
  align-items: center;
}
.project-date span {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background: url("/assets/svgs/icon_calendar.svg") no-repeat;
  background-position: center;
  background-size: contain;
}

.link-btn a {
  outline: none;
}
.link-btn button {
  width: 100%;
  padding: 1rem;
  border-radius: var(--box-radius);
  font-size: var(--font-body1);
  cursor: pointer;
  margin-bottom: var(--gap);
}
.link-btn .web-link {
  position: relative;
  overflow: hidden;
  background-color: var(--primary-purple);
  color: var(--white);
  z-index: 1;
}
.link-btn .web-link::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.link-btn .web-link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--violet-darken);
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.link-btn .web-link:hover::after {
  width: 100%;
}
.link-btn .github-link {
  position: relative;
  overflow: hidden;
  background-color: var(--gray800);
  color: var(--white);
  z-index: 1;
}
.link-btn .github-link::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.link-btn .github-link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--black);
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.link-btn .github-link:hover::after {
  width: 100%;
}

.project__section.list {
  width: 100%;
}
.project__section.list > div {
  width: 100%;
  padding: 0 20%;
}
.project__section.list .tab {
  display: flex;
  gap: 1rem;
  margin-top: 5rem;
}
.project__section.list .tab li {
  padding: 1rem 1.5rem;
  border-radius: var(--box-radius);
  border: 1px solid var(--black);
}

.project-li__wrap {
  width: 100%;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
.project-li__wrap li {
  width: 100%;
  height: auto;
}
.project-li__wrap li .project-thumb {
  width: 100%;
  height: 10rem;
  background-color: aquamarine;
  border-radius: var(--box-radius);
}

@media (max-width: 768px) {
  .project-con {
    flex-direction: column;
  }
  .project-left {
    width: 100%;
    position: static;
    height: auto;
  }
}
/* Project detail
================================================= */
.detail__section {
  width: 100%;
}

.detail__section.exp {
  width: 100%;
}

.project-info {
  width: 100%;
  padding: 4rem 3rem;
  background-color: var(--white);
  border-radius: var(--box-radius);
  margin-bottom: var(--gap);
}
.project-info h2 {
  font-size: var(--font-title);
  font-weight: var(--font-bold);
}
.project-info > div:nth-child(2) {
  width: 100%;
  margin-top: 2.5rem;
}
.project-info .info-detail {
  margin-bottom: 2rem;
}
.project-info .info-txt {
  font-size: var(--font-body1);
  line-height: 1.75;
  word-break: keep-all;
  font-weight: var(--font-thin);
  margin-bottom: 2rem;
}
.project-info .necessity {
  color: var(--primary-purple);
  font-weight: var(--font-regular);
}
@media (max-width: 768) {
  .project-info > div:nth-child(2) {
    flex-direction: column;
  }
  .project-info .info-detail, .project-info .info-txt {
    width: 100%;
  }
}
.project-info .info-date,
.project-info .info-skill,
.project-info .info-role {
  display: flex;
  font-size: var(--font-body1);
  font-weight: 200;
  margin-bottom: 0.75rem;
}
.project-info .info-date > div:first-child,
.project-info .info-skill > div:first-child,
.project-info .info-role > div:first-child {
  width: 3.5rem;
  color: var(--gray400);
}

.project-exp {
  width: 100%;
}
.project-exp > div {
  width: 100%;
  padding: 4rem 3rem;
  background-color: var(--white);
  border-radius: var(--box-radius);
}
.project-exp > div:not(:last-child) {
  margin-bottom: var(--gap);
}
.project-exp h3 {
  font-size: var(--font-title);
  font-weight: var(--font-bold);
  margin-bottom: 2rem;
}
.project-exp .dev-part {
  font-size: var(--font-body1);
  font-weight: var(--font-bold);
  color: var(--primary-purple);
  margin-bottom: 1.5rem;
}
.project-exp .dev-item:not(:last-child) {
  margin-bottom: 2rem;
}
.project-exp .dev-item > div {
  font-size: var(--font-body1);
  font-weight: var(--font-bold);
  position: relative;
  padding-left: 0.75rem;
  margin-bottom: 0.5rem;
}
.project-exp .dev-item > div::before {
  content: "";
  display: block;
  position: absolute;
  width: 0.3125rem;
  height: 0.3125rem;
  border-radius: 50%;
  background-color: var(--black);
  margin-left: -0.75rem;
  top: 0.5rem;
}
.project-exp .dev-item a {
  color: var(--primary-purple);
  text-decoration: underline;
}
.project-exp .dev-item li {
  max-width: 54rem;
  line-height: 1.5;
  padding-left: 1.5rem;
  margin-top: 1rem;
  position: relative;
  word-break: keep-all;
  font-size: var(--font-body1);
  font-weight: 300;
}
.project-exp .dev-item li::before {
  content: "";
  display: block;
  position: absolute;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 50%;
  border: 1px solid var(--black);
  margin-left: -0.75rem;
  top: 0.75rem;
}/*# sourceMappingURL=style.css.map */