/* Reset
   ========================================================================== */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,500;0,700;1,500;1,700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-size: 1.6;
  font-family: var(--font-family);
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

div {
  box-sizing: border-box;
}

p, div {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--black);
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button {
  border: none;
  background-color: transparent;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

:root {
  --pretendard: "Pretendard Variable", Pretendard, -apple-system, system-ui, Roboto, "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
  --montserrat: "Montserrat", sans-serif;
  --black: #111111;
  --white: #FFFFFF;
  --gray50: #FAFAFA;
  --gray100: #F5F5F5;
  --gray200: #EEEEEE;
  --gray300: #E0E0E0;
  --gray400: #BDBDBD;
  --gray500: #9E9E9E;
  --gray600: #757575;
  --gray700: #616161;
  --gray800: #424242;
  --gray900: #212121;
  --background-gray: #FBFBFB;
  --border-gray: #D9D9D9;
  --blue: #0018FD;
  --blue-middle: #4D7FFF;
  --blue-lighten: #C7D7FF;
  --blue-gradient: linear-gradient(290deg, var(--blue-lighten) 20.87%, var(--blue-middle) 57.44%, var(--blue) 98.02%);
  --heading-1: 2.25rem;
  --heading-2: 1.875rem;
  --heading-3: 1.75rem;
  --heading-4: 1.5rem;
  --title-1: 1.25rem;
  --title-2: 1.125rem;
  --body-1: 1rem;
  --body-2: 0.875rem;
  --body-3: 0.75rem;
  --body-4: 0.625rem;
}

header {
  width: 100%;
}
header > div {
  width: 100%;
  height: 6rem;
  padding: 0 3rem;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
header > div h1 {
  color: var(--white);
}
header > div a {
  color: var(--white);
}

.pc-menu ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.pc-menu ul li {
  color: var(--white);
}

.mobile-menu {
  display: none;
}

.header-menu {
  width: 1rem;
  height: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  display: none;
}
.header-menu span {
  width: 100%;
  border: 1px solid var(--white);
  border-radius: 1px;
}
.header-menu span:nth-child(3) {
  width: 80%;
}

@media (max-width: 960px) {
  .pc-menu {
    display: none;
  }
  .header-menu {
    display: block;
  }
}
footer {
  width: 100%;
}
footer > div {
  width: 100%;
  height: 6rem;
  padding: 0 3rem;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  color: var(--white);
}
footer > div > div:last-child {
  padding: 0.5rem 1rem;
  border-radius: 50%;
  border: 1px solid var(--white);
}
footer .sns {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}
footer .sns > div:first-child {
  padding: 0.5rem 1rem;
  border-radius: 50%;
  border: 1px solid var(--white);
  cursor: pointer;
}
footer .sns > div:first-child:hover + .link-more {
  display: flex;
  gap: 1rem;
  animation: display 2s ease-in-out;
}
footer .sns .link-more {
  display: none;
  position: absolute;
  right: -3rem;
}

/* Common Style 
=============================== */
.intro-main {
  width: 100%;
  height: 100%;
  background-color: var(--black);
  transition: background-color 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

section.main__section {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.main__section.intro .big-circle, .main__section.intro .big-circle-clone {
  display: block;
  width: 60rem;
  height: 60rem;
  background: linear-gradient(43.5deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%, rgb(0, 212, 255) 100%);
  filter: blur(3rem);
  position: absolute;
  right: 0;
  top: -22rem;
}
.main__section.intro .big-circle {
  animation: rotate 11s infinite linear;
  border-radius: 52% 48% 70% 30%/49% 48% 52% 51%;
}
.main__section.intro .big-circle-clone {
  animation: rotate 13s infinite linear reverse;
  border-radius: 45% 55% 59% 41%/49% 61% 39% 51%;
}
.main__section.intro .small-circle {
  display: block;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background: linear-gradient(239deg, #E12BFF 15.91%, #3346FF 40.54%, #A59DFF 83.47%);
  filter: blur(10px);
  position: absolute;
  right: 10rem;
  top: 20rem;
  animation: verticalMove 5s infinite linear reverse;
}
.main__section.intro .bottom-circle {
  display: block;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background: linear-gradient(239deg, #E12BFF 15.91%, #3346FF 40.54%, #A59DFF 83.47%);
  filter: blur(10px);
  position: absolute;
  left: -6rem;
  bottom: -5rem;
  animation: verticalMove 5s infinite linear;
}
.main__section.intro .title-txt {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 1000;
  text-align: center;
  color: var(--white);
  font-family: var(--montserrat);
}
.main__section.intro .title-txt > div:nth-child(1) {
  font-size: 5rem;
  font-weight: 700;
}
.main__section.intro .title-txt > div:nth-child(2) {
  font-size: 5rem;
  font-weight: 700;
  color: transparent;
  margin-top: -1rem;
  -webkit-text-stroke: 1px var(--white);
}
.main__section.intro .title-txt > div:nth-child(3) {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 2rem;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes verticalMove {
  0% {
    transform: translate3d(0, 0rem, 0);
  }
  50% {
    transform: translate3d(0, -1rem, 0);
  }
  100% {
    transform: translate3d(0, 0rem, 0);
  }
}
.main__section.about .introduce-txt {
  width: 100%;
  display: flex;
  padding: 0 20%;
  color: var(--white);
  gap: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.main__section.about .introduce-txt .introduce-tit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main__section.about .introduce-txt .introduce-tit > div {
  font-size: 4rem;
  font-weight: 700;
}
.main__section.about .introduce-txt .introduce-tit > a div {
  cursor: pointer;
  color: var(--white);
  transform: translate3d(0, 0, 0);
  transition: transform 0.5s ease;
}
.main__section.about .introduce-txt .introduce-tit > a div:hover {
  transform: translate3d(0.5rem, 0, 0);
}
.main__section.about .introduce-txt > div:last-child {
  max-width: 37.5rem;
  line-height: 1.6;
  font-size: 1.25rem;
  word-break: keep-all;
  font-weight: 200;
  animation: fadeIn 1s ease-in-out;
}
@media (max-width: 960px) {
  .main__section.about .introduce-txt {
    padding: 0 10%;
    flex-direction: column;
  }
  .main__section.about .introduce-txt .introduce-tit > div {
    font-size: 3rem;
  }
  .main__section.about .introduce-txt > div:last-child {
    font-size: 1rem;
  }
}

@keyframes fadeIn {
  from {
    transform: translate3d(0, 10%, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.main__section.works {
  position: sticky;
  width: 100%;
  height: 100vh;
  top: 0;
}
.main__section.works > div {
  width: 100%;
  overflow: hidden;
  padding: 2rem 2rem;
}

.works-list__wrap {
  display: flex;
  gap: 2rem;
  transform: translate3d(0vw, 0, 0);
}

.works-list {
  width: 30%;
}
.works-list-thumb {
  width: 100%;
  height: 12rem;
  overflow: hidden;
}
.works-list-thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.works-list .work-date {
  font-size: 0.875rem;
  margin-top: 1rem;
  color: var(--white);
}
.works-list .work-name {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0.5rem 0;
  display: flex;
  color: var(--white);
}
.works-list .work-name span {
  display: block;
  width: 1rem;
  height: 1rem;
  background: url("/assets/svgs/icon_more.svg") no-repeat;
  background-position: center;
  background-size: contain;
}
.works-list .work-tool {
  line-height: 1.5;
  font-weight: 200;
  color: var(--white);
}

.main__section.career {
  width: 100vw;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.slider {
  will-change: transform;
  transform: translate3d(-49.83vw, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  height: 100%;
  display: flex;
}
.slider-item {
  width: 100vw;
  height: 100vh;
  flex: none;
  padding: 40px;
  color: var(--white);
}
.slider-item > div {
  width: 100%;
  height: 100vh;
}

.main__section.contact {
  position: sticky;
}

.project__section.list {
  width: 100%;
}
.project__section.list > div {
  width: 100%;
  padding: 0 20%;
}
.project__section.list .tab {
  display: flex;
  gap: 1rem;
  margin-top: 5rem;
}
.project__section.list .tab li {
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  border: 1px solid var(--black);
}

.project-li__wrap {
  width: 100%;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
.project-li__wrap li {
  width: 100%;
  height: auto;
}
.project-li__wrap li .project-thumb {
  width: 100%;
  height: 10rem;
  background-color: aquamarine;
  border-radius: 1rem;
}

/* Project detail
================================================= */
.detail__section {
  width: 100%;
}

.detail__section.exp {
  width: 100%;
}
.detail__section.exp > div:first-child {
  width: 100%;
  height: 20rem;
  background: var(--blue-gradient);
}

.project-info {
  width: 100%;
  padding: 5rem 10%;
  border-bottom: 1px solid var(--border-gray);
}
.project-info h2 {
  font-size: var(--heading-1);
  font-weight: 800;
}
.project-info > div:nth-child(2) {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-top: 2.5rem;
}
.project-info .info-detail {
  width: 40%;
}
.project-info .info-txt {
  width: 60%;
  line-height: 1.75;
}
@media (max-width: 960px) {
  .project-info > div:nth-child(2) {
    flex-direction: column;
  }
  .project-info .info-detail, .project-info .info-txt {
    width: 100%;
  }
}
.project-info .info-date,
.project-info .info-skill,
.project-info .info-role {
  display: flex;
  font-size: var(--title-1);
  font-weight: 200;
  margin-bottom: 0.75rem;
}
.project-info .info-date > div:first-child,
.project-info .info-skill > div:first-child,
.project-info .info-role > div:first-child {
  width: 3.5rem;
  color: var(--gray400);
}
.project-info .info-txt {
  font-size: var(--title-1);
  font-weight: 200;
  word-break: keep-all;
}
.project-info .link-btn {
  margin-top: 2.5rem;
}
.project-info .link-btn button {
  padding: 0.875rem 2rem 0.75rem;
  border-radius: 2rem;
  font-size: var(--title-1);
}
.project-info .link-btn > a:first-child button {
  background-color: var(--blue);
  color: var(--white);
}
.project-info .link-btn > a:last-child button {
  border: 1px solid var(--black);
}

.detail__section.con {
  width: 100%;
}
.detail__section.con > div {
  width: 100%;
  padding: 5rem 10%;
}
.detail__section.con h3 {
  font-size: var(--heading-2);
  font-weight: 700;
  margin-bottom: 2rem;
}
.detail__section.con .dev-part {
  font-size: var(--title-1);
  font-weight: 700;
  color: var(--blue);
  margin-bottom: 1.5rem;
}
.detail__section.con .dev-item > div {
  font-size: var(--title-2);
  font-weight: 700;
  position: relative;
  padding-left: 0.75rem;
  margin-bottom: 0.5rem;
}
.detail__section.con .dev-item > div::before {
  content: "";
  display: block;
  position: absolute;
  width: 0.3125rem;
  height: 0.3125rem;
  border-radius: 50%;
  background-color: var(--black);
  margin-left: -0.75rem;
  top: 0.5rem;
}
.detail__section.con .dev-item li {
  line-height: 1.5;
  padding-left: 1.5rem;
  margin-top: 1rem;
  position: relative;
}
.detail__section.con .dev-item li::before {
  content: "";
  display: block;
  position: absolute;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 50%;
  border: 1px solid var(--black);
  margin-left: -0.75rem;
  top: 0.5rem;
}/*# sourceMappingURL=style.css.map */