:root {
  --pretendard: "Pretendard Variable", Pretendard, -apple-system, system-ui, Roboto, "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
  --montserrat: 'Montserrat', sans-serif;
  --nunito: 'Nunito Sans', sans-serif;

  --black: #111111;
  --white: #FFFFFF;
  --gray50: #FAFAFA;
  --gray100: #F5F5F5;
  --gray200: #EEEEEE;
  --gray300: #E0E0E0;
  --gray400: #BDBDBD;
  --gray500: #9E9E9E;
  --gray600: #757575;
  --gray700: #616161;
  --gray800: #424242;
  --gray900: #212121;
  
  --background-gray: #FBFBFB;
  --border-gray: #D9D9D9;

  --blue: #0018FD;
  --blue-middle: #4D7FFF;
  --blue-lighten: #C7D7FF;
  --violet: #7766e8;
  --violet-bg: #eff0f6;
  --violet-darken: #5a47d7;
  --bg: #F3F1FF;
  --primary-purple: #856AFF;
  --secondary-pink: #FFBFDD;
  --secondary-lime: #A3FF46;

  --font-heading: 5rem;
  --font-title: 2rem;
  --font-title2: 1.5rem;
  --font-body1: 1.25rem;
  --font-body2: 1rem;
  --font-m-heading: 2.5rem;
  --font-m-title: 1.5rem;
  --font-m-body1: 1rem;
  --font-m-body2: 0.825rem;

  --font-thin: 200;
  --font-regular: 400;
  --font-bold: 700;

  --gap: 1rem;
  --box-radius: 2rem;
}