/* Index Style 
=============================== */

main {
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  transition: background-color 0.7s ease-out;
  animation: bgTransition 0.7s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-wrap {
  width: 100%;
  max-width: 1200px;
  margin: 4rem 0;
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  gap: var(--gap);

  @media (max-width: 768px) {
    padding: 0 1.25rem;
  }
}

.intro-section {
  width: 100%;
  height: auto;
  background-color: var(--white);
  border-radius: var(--box-radius);

  &__wrap {
    width: 100%;
    min-height: 100%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }

  .intro-txt {
    font-family: var(--nunito);
    font-size: var(--font-heading);
    font-weight: var(--font-bold);
    line-height: 1.2;

    .left-in {
      transform: translate3d(0, 0, 0);
      animation: leftIn 0.7s ease-out;
    }

    .right-in {
      transform: translate3d(0, 0, 0);
      animation: rightIn 0.7s ease-out;
    }

    .txt-obj {
      font-size: var(--font-body2);
      padding: 0.75rem 1rem;
      border-radius: var(--box-radius);
      vertical-align: middle;
    }

    .obj1 {
      color: var(--white);
      background-color: var(--primary-purple);
      animation: fullWidth 0.5s ease-out;
    }

    .obj2 {
      border: 1px solid var(--primary-purple);
      color: var(--primary-purple);
    }
  }

  .intro-bottom {
    width: 100%;
    margin-top: 5rem;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;

    p {
      font-size: var(--font-body1);
      font-weight: 200;
      line-height: 1.6;
      animation: topIn 1s ease-in-out;
    }

    .scroll-down {
      width: 8.125rem;
      height: 8.125rem;

      >div {
        width: 100%;
        height: 100%;
        position: relative;

        >img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate3d(-50%, -50%, 0);
          
          &:first-child {
            width: 100%;
            height: 100%;
            animation: rotate 4s infinite linear;
          }

          &:last-child {
            width: 50%;
            height: 50%;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .intro-txt {
      font-size: var(--font-m-heading);
      // word-break: break-all;
    }
  }
}




.about-section {
  width: 100%;

  &__wrap {
    width: 100%;
    height: 100%;
    padding: 0 var(--gap);
  }

  // .section-tit {
  //   color: var(--white);
  //   margin-bottom: 5rem;
  // }

  .about-profile {
    width: 100%;
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(2,1fr);

    .profile-link {
      margin-top: 4rem;
      display: flex;
      gap: 1rem;

      > a {
        padding: 0.5rem 1rem;
        border-radius: var(--box-radius);
        border: 1px solid var(--white);
        color: var(--white);

      }
    }
    .profile-left {
      width: 100%;
      height: 100%;
      position: relative;
      border-radius: var(--box-radius);
      overflow: hidden;
    }

    .profile-right {
      width: 100%;
      height: 100%;
      padding: 4rem;
      font-weight: 200;
      font-size: var(--font-body1);
      line-height: 1.6;
      word-break: keep-all;
      border-radius: var(--box-radius);
      background-color: var(--white);
      display: flex;
      flex-direction: column;
      justify-content: space-between;

    }

    .profile-img {
      width: 100%;
      height: 100%;
      overflow: hidden;
      
      img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        filter: grayscale(1);
        transition: filter 0.5s ease-out;
      }

      &:hover {
        img {
          filter: none;
        }
      }
    }

    
    .about-txt div {
      margin-bottom: 1rem;
      // opacity: 1;
    }

  }
  .about-contact {
    width: 100%;
    display: flex;
    gap: var(--gap);
    margin-top: var(--gap);

    > div {
      width: 100%;
      background-color: var(--white);
      border-radius: var(--box-radius);
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &:first-child {
        .contact-con {
          word-break: break-all;
        }
      }
    }
    .contact-tit {
      font-size: var(--font-body2);
      color: var(--gray500);
      margin-bottom: 0.825rem;
    }
    .contact-con {
      font-size: var(--font-title2);
      font-weight: var(--font-bold);
    }
    &:nth-child(3) { 
      .contact-con {
        display: flex;
        gap: 2rem;
      }
    }
    .reverse-txt {
      position: relative;
      overflow: hidden;
      // color: var(--white);
      
      > div {
        -webkit-transition: -webkit-transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: -webkit-transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      
      &::after {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        content: attr(data-hover);
        color: var(--black);
        display: inline;
        text-align: center;
        -webkit-transition: top 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: top 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
  
      &:hover {
        > div {
          -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
          color: var(--black);
        }  
        &::after {
          top: 0;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .about-profile {
      grid-template-columns: 1fr;
      > div {
        width: 100%;
      }
      .profile-img {
        width: 100%;
        height: 20rem;
        border-radius: var(--box-radius);
      }
    }
    .about-contact {
      flex-direction: column;
    }
  }
}


.section-tit {
  width: 100%;
  text-align: center;
  margin: 4rem auto;
  div {
    font-family: var(--nunito);
    font-size: var(--font-heading);
    font-weight: var(--font-bold);
  }
  p {
    margin-top: 0.5rem;
    font-size: var(--font-body1);
    font-weight: var(--font-thin);
  }
  @media (max-width: 768px) {
    div {
      font-size: var(--font-m-heading);
    }
  }
}

.skill-section {
  width: 100%;
  color: var(--black);
  
  &__wrap {
    width: 100%;
    height: 100%;
    // padding: 0 var(--gap);

    .skill-list {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: var(--gap);

      .skill-item {
        width: 100%;
        border-radius: var(--box-radius);
        background-color: var(--white);
        padding: 2rem;
        display: flex;
        > div {
          width: 50%;
        }
      }
    }
  }
  
  .skill-left {
    width: 100%;
    height: calc(100vh - var(--gap) * 2);
    padding: 4rem;
    background-color: var(--bg);
    position: sticky;
    top: 2px;
    border-radius: var(--box-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .skill-cate {
      margin-top: 2rem;
      font-size: var(--font-body1);
      font-family: var(--nunito);
      line-height: 1.6;
      > div {
        // opacity: 0.5;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        word-break: keep-all;
        font-weight: 300;
      }
      span {
        display: block;
        width: 1rem;
        height: 1rem;
        // border-radius: 50%;
        // border: 2px solid var(--black);
        background: url('/assets/svgs/diagonal_arrow.svg') no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }

  .skill-right {
    width: 100%;
    height: auto;
    >div {
      padding: 4rem;
      background-color: var(--white);
      border-radius: var(--box-radius);
    }
  }


  .skill-name {
    font-family: var(--nunito);
    font-weight: var(--font-bold);
    font-size: 2rem;
  }

  .skill-degree {
    width: auto;
    font-size: 1rem;
    font-weight: var(--font-bold);
    margin: 1.5rem auto;
    color: var(--primary-purple);
    span {
      padding: 0.5rem;
      border-radius: 0.5rem;
      background-color: var(--primary-purple);
      color: white;
    }
  }

  .skill-exp {
    font-size: var(--font-body1);
    font-weight: 200;
    line-height: 1.6;

    li {
      position: relative;
      margin-left: 0.75rem;

      &::before {
        content: "·";
        position: absolute;
        left: -0.75rem;
        font-weight: var(--font-bold);
      }
    }
  }

  @media (max-width: 768px) {
    &__wrap {
      .skill-list { 
        .skill-item {
          flex-direction: column;
          > div {
            width: 100%;
          }
        }
      }
    }
    .skill-left {
      position: static;
    }
    .skill-left,
    .skill-right {
      width: 100%;
    }

    .skill-right {
      > div {
        grid-template-columns: 1fr;

        > div {
          width: 100%;
          // margin-bottom: 0;
        }
      }
    }
  }
  .rolling {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    font-size: 5rem;
    font-family: var(--nunito);
    font-weight: var(--font-bold);
    color: transparent;
    -webkit-text-stroke: 1px var(--white);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--white);

    > div:first-child {
      animation: rollOrigin 5s linear infinite;
    }
    > div:last-child {
      animation: rollClone 5s linear infinite;
    }
  }
}


.works-section {
  width: 100%;
  // height: 100vh;

  &__wrap {
    width: 100%;
    height: 100%;
    // padding: 0 var(--gap);
  }
  
  .works-txt {
    text-align: center;
    transition: opacity 0.7s ease-out;
    font-family: var(--nunito);
    font-size: var(--font-heading);
    font-weight: var(--font-bold);
    margin-top: 4rem;
  }

  .works-cate {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap);
    margin-top: var(--gap);
    > div {
      width: 100%;
      height: auto;
      padding: 1rem;
      background-color: var(--white);
      border-radius: var(--box-radius);
      font-family: var(--nunito);
      text-align: center;
      font-weight: var(--font-bold);
      cursor: pointer;
      &:hover {
        box-shadow: 0px 3px 15px -12px;
        transition: box-shadow 0.3s ease-out;
      }
    }
  }
  
  .works-grid {
    width: 100%;
    height: 100%;
    margin-top: 2rem;
    display: flex;
    gap: var(--gap);
    
    .works-left {
      width: 100%;
      height: calc(100vh - var(--gap) * 2);
      position: sticky;
      top: 1rem; 
    }
    .works-img {
      width: 100%;
      height: 300px;
      border-radius: var(--box-radius);
      background-color: var(--white);
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s ease-out;
      }
    }
    .works-right {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: var(--gap);

      .works-img {
        display: none;
      }

      > a {
        background-color: var(--white);
        transition: opacity 0.7s ease-out;
        border-radius: var(--box-radius);
        // height: 60vh;
  
        .works-info {
          width: 100%;
          padding: 1.5rem;
          // height: 100%;
          // color: var(--white);
          &-date {
            font-family: var(--nunito);
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
          &-name {
            font-weight: var(--font-bold);
            margin: 0.75rem 0;
            font-size: var(--font-title);
          }
          &-exp {
            font-size: var(--font-body2);
            line-height: 1.6;
            word-break: keep-all;
            overflow: hidden;
            text-overflow: ellipsis;
            opacity: 0.8;
          }
          &-skill {
            margin-top: 1rem;
            display: flex;
            gap: var(--gap);
            color: var(--gray400);
            font-family: var(--nunito);
            font-size: 12px;
          }
          &:hover {
            box-shadow: 0px 3px 15px -12px;
            border-radius: var(--box-radius);
            transition: box-shadow 0.3s ease-out;
          }
        }
  
      }
    }
  }


  @media (max-width: 768px) {
    .works-grid {
      flex-direction: column;
      .works-left {
        position: static;
        height: auto;
        .works-img {
          display: none;
        }
      }
      .works-right {
        .works-img {
          display: block;
        }
      }
    }
  }

  
}

.career-section {
  width: 100%;
  height: auto;
  padding-bottom: 5rem;
  
  &__wrap {
    width: 100%;
    height: 100%;
    padding: 0 var(--gap);
  }
  
  .career-container {
    width: 100%;
    height: auto;
    // position: sticky;
    top: 0;
    // overflow-x: scroll;
    // background-color: #222;
  }
  
  .horizontal {
    // position: absolute;
    height: 100%;
    will-change: transform;
  }
  
  .career-list {
    display: flex;
    gap: var(--gap);
    width: auto;
    border-radius: var(--box-radius);
    // padding: 4rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &-item {
      scroll-snap-align: start;
      height: auto;
      width: 20rem;
      margin: 0 auto;
      flex-shrink: 0;
      padding: 3rem;
      border-radius: var(--box-radius);
      background-color: var(--white);
    }
  }

  .career-list::-webkit-scrollbar {
    display: none;
  }

  .career-info {
    font-family: var(--nunito);
    > div:first-child {
      font-size: 1.25rem;
      display: flex;
      gap: 0.25rem;
      // font-weight: var(--font-bold);
    }
    > div:last-child {
      font-size: var(--font-title);
      font-weight: var(--font-bold);
      margin: 1rem 0 2.5rem;
    }
  }
  
  .career-exp {
    word-break: keep-all;
    font-size: var(--font-body1);
    font-weight: 200;
    line-height: 1.6;
  }
  
  .badge {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
  }
  
  .period-badge {
    background-color: var(--primary-purple);
    color: var(--white);
  }
  
  .work-badge {
    border: 1px solid var(--primary-purple);
    color: var(--primary-purple);
  }
  
  .older-txt {
    display: flex;
  }
  
  .education {
    background-color: var(--gray50);
  }  
}

.contact-section {
  width: 100%;
  height: 100vh;

  &__wrap {
    width: 100%;
    height: 100%;
    padding: var(--gap);
    
    > div {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--gap);
    }
  }

  .contact-left {
    width: 100%;
    height: 100%;
    background-color: var(--primary-purple);
    border-radius: var(--box-radius);
    padding: 3rem;
    > div {
      font-family: var(--nunito);
      font-size: var(--font-heading);
      font-weight: var(--font-bold);
    }
  }
  
  .contact-right {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    > div {
      width: 100%;
      height: 100%;
      padding: 3rem;
      background-color: var(--white);
      border-radius: var(--box-radius);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &:nth-child(3) { 
        .contact-con {
          display: flex;
          gap: 2rem;
        }
      }
      font-family: var(--nunito);
    }
  }
  
  .copyright {
    width: 100%;
    font-weight: 200;
    font-size: var(--body-2);
    color: var(--gray500);
    flex: 1;
    padding: 1rem var(--gap);
    background-color: var(--black);
    text-align: center;
  }

  @media (max-width: 768px) { 
    &__wrap {
      > div {
        grid-template-columns: 1fr;
      }
    }
  }
}

.more-cursor {
  width: 5rem;
  height: 5rem;
  display: none;
  border-radius: 50%;
  background-color: var(--primary-purple);
  color: var(--white);
  position: fixed;
  
  div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--nunito);
  }
}

.roll-txt { 
  width: 100%;
  height: 10rem;
  overflow: hidden;
  color: var(--white);
  font-size: 5rem;
  font-family: var(--nunito);
  display: flex;
  // flex: 0 0 auto;
  align-items: center;
  white-space: nowrap;
  
  i {
    &:first-of-type {
      color: var(--primary-purple);
    }
    &:last-of-type {
      color: var(--secondary-pink);
    }
  }
}

.roll-origin {
  animation: rollOrigin 10s linear infinite;
}

.roll-clone {
  // transform: translate3d(100%, 0, 0);
  animation: rollClone 10s linear infinite;
}