.project-main {
  // background-color: var(--black);
  width: 100%;
  height: 100%;
}

.project-wrap {
  width: 100%;
  height: 100%;
}

.project-img {
  width: 100%;
  height: 20rem;
  border-radius: var(--box-radius);
  background-color: var(--white);
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.project-con {
  display: flex;
  padding: var(--gap) 0;
  gap: var(--gap);

 
}

.project-left {
  width: 40%;
  height: calc(100vh - var(--gap) * 2);
  top: var(--gap);
  position: sticky;
}

.project-right {
  width: 60%;
  height: 100%;
  
  > div {
    width: 100%;
    height: 100%;
  }
}

.project-detail {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.project-date {
  width: 100%;
  background-color: var(--white);
  border-radius: var(--box-radius);
  padding: 1rem;
  font-size: var(--font-body1);
  display: flex;
  gap: var(--gap);
  align-items: center;

  span {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background: url('/assets/svgs/icon_calendar.svg') no-repeat;
    background-position: center;
    background-size: contain;
  }
}
.link-btn {
  
  a {
    outline: none;
  }
  
  button {
    width: 100%;
    padding: 1rem;
    border-radius: var(--box-radius);
    font-size: var(--font-body1);
    cursor: pointer;
    margin-bottom: var(--gap);
    
  }
  .web-link {
    position: relative;
    overflow: hidden;
    background-color: var(--primary-purple);
    color: var(--white);
    z-index: 1;

    &::before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -2;
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: var(--violet-darken);
      transition: all .3s;
      border-radius: 10rem;
      z-index: -1;
    }

    &:hover {

      &::after {
        width: 100%;
      }
    }
  }
  .github-link {
    position: relative;
    overflow: hidden;
    background-color: var(--gray800);
    color: var(--white);
    z-index: 1;

    &::before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -2;
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: var(--black);
      transition: all .3s;
      border-radius: 10rem;
      z-index: -1;
    }

    &:hover {

      &::after {
        width: 100%;
      }
    }
  }

}
.project__section.list {
  width: 100%;
  > div {
    width: 100%;
    padding: 0 20%;
  }
  .tab {
    display: flex;
    gap: 1rem;
    margin-top: 5rem;

    li {
      padding: 1rem 1.5rem;
      border-radius: var(--box-radius);
      border: 1px solid var(--black);
    }
  }

}

.project-li__wrap {
  width: 100%;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  li {
    width: 100%;
    height: auto;
    .project-thumb {
      width: 100%;
      height: 10rem;
      background-color: aquamarine;
      border-radius: var(--box-radius);
    }
  }
}


/* Project detail
================================================= */
.detail__section {
  width: 100%;
}

.detail__section.exp {
  width: 100%;
}
.project-info {
  width: 100%;
  padding: 4rem 3rem;
  background-color: var(--white);
  border-radius: var(--box-radius);
  margin-bottom: var(--gap);

  h2 {
    font-size: var(--font-title);
    font-weight: var(--font-bold);
  }

  > div:nth-child(2) {
    width: 100%;
    margin-top: 2.5rem;
  }
  
  .info-detail {
    margin-bottom: 2rem;
  }
  
  .info-txt {
    font-size: var(--font-body1);
    line-height: 1.75;
    word-break: keep-all;
    font-weight: var(--font-thin);
    margin-bottom: 2rem;
  }
  .necessity {
    color: var(--primary-purple);
    font-weight: var(--font-regular);
  }


  .info-date, 
  .info-skill,
  .info-role {
    display: flex;
    font-size: var(--font-body1);
    font-weight: 200;
    margin-bottom: 0.75rem;
    
    > div:first-child {
      width: 3.5rem;
      color: var(--gray400);
    }
  }
  
  @media (max-width: 768px) {
    > div:nth-child(2) {
      flex-direction: column;
    }

    .info-detail {
      margin-bottom: 0;
    }
    .info-skill,
    .info-role {
      font-size: var(--font-m-body1);
      margin-bottom: 0.75rem;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}

.project-exp {
  width: 100%;

  > div {
    width: 100%;
    padding: 4rem 3rem;
    background-color: var(--white);
    border-radius: var(--box-radius);
    &:not(:last-child) {
      margin-bottom: var(--gap);
    }
  }

  h3 {
    font-size: var(--font-title);
    font-weight: var(--font-bold);
    margin-bottom: 2rem;
  }
  
  .dev-part {
    font-size: var(--font-body1);
    font-weight: var(--font-bold);
    color: var(--primary-purple);
    margin-bottom: 1.5rem;
  }
  
  .dev-item {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }  
    > div {
      font-size: var(--font-body1);
      font-weight: var(--font-bold);
      position: relative;
      padding-left: 0.75rem;
      margin-bottom: 0.5rem;
      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 0.3125rem;
        height: 0.3125rem;
        border-radius: 50%;
        background-color: var(--black);
        margin-left: -0.75rem;
        top: 0.5rem;
      }
      
    }
    a {
      color: var(--primary-purple);
      text-decoration: underline;
    }
    li {
      max-width: 54rem;
      line-height: 1.5;
      padding-left: 1.5rem;
      margin-top: 1rem;
      position: relative;
      word-break: keep-all;
      font-size: var(--font-body1);
      font-weight: 300;
      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 0.25rem;
        height: 0.25rem;
        border-radius: 50%;
        border: 1px solid var(--black);
        margin-left: -0.75rem;
        top: 0.75rem;
      }
    }
  }
}


@media (max-width: 768px) {
  .project-con{
    flex-direction: column;
  }
  .project-left {
    width: 100%;
    position: static;
    height: auto;
  }
  .project-date {
    font-size: var(--font-m-body1);
    span {
      width: 1rem;
      height: 1rem;
    }
  }
  .link-btn {
    button {
      font-size: var(--font-m-body1);
    }
  }
  .project-info {
    padding: 2rem;
    h2 {
      font-size: var(--font-m-title);
    }
    > div:nth-child(2) {
      margin-top: 1.5rem;
    }
    .info-txt {
      font-size: var(--font-m-body1);
    }
  }
  .project-exp {
    > div {
      padding: 2rem
    }
    h3 {
      font-size: var(--font-m-title);
      
    }
    .dev-item {
      > div {
        font-size: var(--font-m-body1);
      }
      li {
        font-size: var(--font-m-body1);
        margin-top: 0.825rem;
      }
    }
  }
}
